
/* footer */

footer{
    background: #343434;
    padding-top: 50px;
    
}
.footer{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
}
/* .container{ */
    /* width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
} */

footer button{
    padding: 10px 40px;
    border: none;
    margin-top: 20px;
    border-radius: 20px;

}


.contact-us-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer form{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer-content{
    width: 33.3%;
    background-color: #343434;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
/* card */
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    background-color: rgb(235, 157, 12);
    width: 300px;
    height: auto;
    border: 1px solid;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.card img{
    margin: auto;
    width: 50%;
    height: 200px;
    display: block;
}

.card h3{
    margin: 0;
    padding: 5px;
    color: black;
    background-color: #ffffff;
}

.card p{
    padding: 5px;
    color: black;
    background-color: #ffffff;
}

.card button{
background-color: #bf9d16;
color: black;
border: none;
padding: 10px 20px;
border-radius: 8px;
margin: 15px;
cursor: pointer;
}

.card button:hover{
    background-color: #5c4b08;
}
/* loginform */
.login{
    
    /* background-color: #890c0c; */
    padding: 30px;
}
.login-form{
    width: 400px;
    padding: 20px;
    background-color: transparent;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    border-radius: 10px;
    z-index: 999;
    opacity: 0.91;
    box-shadow: 0px 0px 7px 0px #f9f8f8;
    border: 1px solid white;
}
input[type="email"], input[type="Password"]
{
    border: none;
    /* border-bottom: 1px solid #100b0b; */
    background: white;
    outline: none;
    width: 200px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    /* height: 70px; */
    color: #131111;
    
}
input label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-btn{
    background-color: white ;
    padding: 10px 40px;
    border: none;
    width: 230px;
    border-radius: 20px;
}

/* about */
.about{
    background-color: #f3f5f7;
}
.about h3{
    margin-right: 50%;
    
    
}
